{% extends 'base.html.twig' %}
{% block body %}
<h1> Toto </h1>


<a href="{{ path('user_index') }}">Home page</a>

{% for user in users %}
<p>
    <a href="{{ path('user_profile', {id: user.id}) }}">{{ user.name }}</a>
</p>
{% endfor %}

{% endblock %}